<h1>Contact</h1>
<% name = 'Ashley' %>
<% "I thought only girls were named #{Ashley}" %>



<% teachers.each do |teacher| = %>
  <li><% teacher.capitalize %></li>
<% end %>
<ul>
  <li>Miguel</li>
</ul>

