<h1><%= @list.name %></h1>
<ul>
  <% @list.movies.each do |movie| %>
  <%= movie.title  %>
  
  <% end %>
</ul>

<%= link_to "Add a new list", new_list_path %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
